<div class="container">
<h1>List of all the restaurants</h1>
  <div class="row margin-top-list">
    <div class="col-xs-12">
      <ul>
        <% @restaurants.each do |resto| %>
        <li class="display-list card-shadow banner-card">
          <div class="margin-left-card">
            <h3 class="no-margin-top">
              <%= link_to resto.name, restaurant_path(resto) %>
            </h3>
            <div>
              <%= resto.address %>
            </div>
            <div>
              <%= resto.phone_number %>
            </div>
            <div>
              <%= resto.category.capitalize %>
            </div>
          </div>
          <div class="btn-margin-right"> <!-- description -->
            <%= link_to "See Reviews", restaurant_reviews_path(resto), class:"btn btn-primary" %>
            <%= link_to "Edit Restaurant", edit_restaurant_path(resto), class:"btn btn-warning" %>
            <%= link_to "Delete Restaurant", restaurant_path(resto), method: :delete, data: {confirm: "Are you sure to delete #{resto.name}"},class:"btn btn-danger" %>
          </div> <!-- /description -->

        </li>
        <% end %>
      </ul>
    </div>
  </div>
     <%= link_to "Add a new restaurant", new_restaurant_path, class:"btn btn-success mybtnclass" %>
</div>
