<h1>List of all the reviews for <%= @restaurant.name %></h1>
<div class="container">
  <%= link_to "Add a new review", new_restaurant_review_path, class:"btn btn-success", style:"display: block; width: 250px; margin: auto;  margin-bottom: 50px;" %>
  <div class="row">
    <div class="col-xs-12">
      <ul>
        <% @restaurant.reviews.each do |review| %>
        <li style="display: flex; justify-content: space-between; margin-bottom: 15px;">
          <div class="">
            <h3 style="margin-top: 0">
              <%= "*" * review.rating%>
            </h3>
            <p>
              <%= review.content %>
            </p>
          </div>
          <div class=""> <!-- description -->
          <%= link_to "Back to restaurant details", restaurant_path(@restaurant), class:"btn btn-primary" %>
          <%= link_to "Edit Review", edit_review_path(review), class:"btn btn-warning" %>
          <%= link_to "Delete Review", review_path(review), method: :delete, data: {confirm: "Are you sure to delete this review"},class:"btn btn-danger" %>
          </div> <!-- /description -->

        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
